###############################################################################
# Please modify this file if you want to configure your own library.
# You can uncommon and/or change the following Kconfig elements.
###############################################################################


if ROOTFS_COMPONENT_LIBS_NAME_XDMA__LIB
	comment "No additional options for XDMA__LIB"

# 	config LIBS_XDMA__LIB_OPTION0
#	bool "option0"
#	help
#	  Help text
endif
